*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
}

.last-minute img{
    height: 250px;
}

.logo{
    height: 80px;
    margin-right: auto;
}

.stc-description{
    display: flex;
    justify-content: space-around;
}

.stoccolma{
    width: 66%;
    height: auto;
}

.description{
    width: 33%;
    font-size: larger;
}

.shadow img{
    box-shadow: 4px 4px 10px black;
    height: 150px;
}


@media (max-width: 557px){
    .stc-description{
        display: none;
    }
    #today-sale{
        display: none;
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}